@charset "utf-8";

body{
	background: url('img/Fundo.png');	
	background-attachment: fixed;
	background-size: 100%;
	scroll-behavior: 
}

body#rolagem::-webkit-scrollbar { 
	display: none;
}

html, body, .capa{
	height: 100%;
}

.img-logo{
	height: 50px;
	width: 132px;
	background: url('img/logo-controle.png') no-repeat;
	display: block;
	background-size: contain;
	color: transparent;
}

.navbar-brand{
	padding: 5px 15px;
}



div#barra-navegacao ul.navbar-nav>li:hover {
    background-color: rgb(33,156,214);
    transition: 0.8s;
}

/* ======================================== Capa ========================*/

/*=== Imagem de Capa ===*/

div.capa{
	display: table;
	width: 100%;
}

div.texto-capa{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: rgb(0,0,0);
}

/*=== Seção Servicos ===*/

section#games{
	background-color: white;
	padding-top:20px;
	padding-bottom: 30px;
	text-align: center;
}

section#rodape{
	background-color: #101010; 
}

div.btn-capa{
	color: white;
	border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 25px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

div.capa button:hover{
	color: #000;
	background-color: rgb(33,156,214);
}

#primeira-linha{
	padding-top: 20px;
}

#about{
	text-align: center;
	color: #fff;

}

#botao-cs{
	margin-top: 20px;
	color: #fff;
}

#botao-cs:hover{
	color: #000;
	transition: 0.5s;
	background-color: rgb(194,137,56);
}

table#info-cs{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;	
}

table#info-cs td{
	border: 1px solid #606060;
	padding: 10px;
	vertical-align: top;		
}

table#info-cs td.ce {
	text-align: right;
	color: #fff;
	background-color: #606060; 
	font-weight: bold;
}

table#info-cs td.cd{
	text-align: left;	
	background-color: #cecece;
}

/*============================== Tipografia =========================================*/

h1{
	font-size: 200px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

